<div style = "top:100px">
  <img class = "search_button" ui-sref = "search"ng-src = "Optimised_icons_all-sizes/drawable-mdpi/Button_6_search-min.png">
    <img class = "menu_button"src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_7_menu-min.png' height="50" width="50">
    <img class = "float_center2" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_4_audio-min.png' height="50" width="50">
    <img class = "float_center1" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_5_history-min.png' height="50" width="50">
    <img class = "float_center" src = 'Optimised_icons_all-sizes/drawable-xxxhdpi/Button_3_video_on-min.png' height="50" width="50">
</div>
