<div style="top:100px">
	<img class="search_button" ui-sref="search" ng-src="Optimised_icons_all-sizes/drawable-mdpi/Button_6_search-min.png">
	<img class="menu_button" src='Optimised_icons_all-sizes/drawable-xxxhdpi/Button_7_menu-min.png' height="50" width="50">
	<a href="#/categories/audio"><img class="float_center2" src='Optimised_icons_all-sizes/drawable-xxxhdpi/Button_4_audio-min.png' height="50" width="50"></a>
	<a href="#/categories/history"><img class="float_center1" src='Optimised_icons_all-sizes/drawable-xxxhdpi/Button_5_history_on-min.png' height="50" width="50"></a>
	<a href="#/categories/videos"><img class="float_center" src='Optimised_icons_all-sizes/drawable-xxxhdpi/Button_3-min.png' height="50" width="50"></a>
</div>
<div style="top:246px;position:relative;">
	<ul>
		<img id="footer_kart" style="float:left;positon:relative" ng-src='Optimised_icons_all-sizes/drawable-mdpi/Button_8_kart-min.png'
		/>
		<img id="footer_menu" style="float:right;positon:relative" ng-src="Optimised_icons_all-sizes/drawable-mdpi/Button_7_menu-min.png"
		/>
	</ul>
</div>
<div id = "message">
	{{message}}
</div>