<!--
* FileName:searchResult.html
* CreatedBy: Vamsee
* Date :30-09-2016
* Purpose : SearchResult page for showing Result
 -->

<div>
<!--Ion scroll directive for showing the content in the horizontal-->
	<ion-scroll direction="x">
		<div style="top:-15px;position:relative;">
			<div style="display: inline-block " ng-if="x != undefined" ng-repeat="x in data track by $index" class="cardinsearch card-1 col item item-divider item-text-wrap">
				<img style='border-radius: 10%;' ng-src='{{x.image_path}}' width="255" height="150" />
				<p>{{x.title}}</p>
				<!-- <span ui-sref= "player({url:x.dnld_url,poster:x.image_path,pcatid:pcatid,catid:catid,count:count})" class="icon videoIcon playS"></span> -->
				<!-- <span class="moreIcon" ng-click="popover.show($event)"></span> -->
				<!-- </div> -->
			</div>
	</ion-scroll>
	<!--Ion scroll directive for loading more items and adding-->
	<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore(textbox)" distance="10%">
	</ion-infinite-scroll>
	</div>
</div>